body { font-family: Arial, sans-serif; background-color: #fff; color: #333; }
header { background-color: #222; color: #fff; padding: 20px; text-align: center; }
section { padding: 40px; }
footer { text-align: center; padding: 20px; background-color: #222; color: #fff; }
/* Bandeau image */
.bandeau-images img {
  width: 100%;
  height: 100px;       /* Ajuste la hauteur selon ton style */
  object-fit: cover;   /* Important : coupe proprement l'image */
  display: block;
}
.top-bar h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 100px; /* augmente ou diminue comme tu veux */
  font-weight: 700; /* gras */
  letter-spacing: 5px; /* espace entre les lettres si tu veux */
}
